<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>学生列表</h1>
<form action="/stu/selectStuByClass" method="post">
<select name="stuClass">
    <option name="stuClass" th:each="class:${class}" th:value="${class.id}" th:text="${class.classname}"></option>
</select>
<input type="submit" value="查询" id="query">
</form>
<table border="1px" width="500px">
    <tr>
        <td>编号</td>
        <td>姓名</td>
        <td>性别</td>
        <td>年龄</td>
        <td>班级</td>
        <td>操作</td>
    </tr>
    <tr th:each="stu:${students}">
        <td th:text="${stu.id}"></td>
        <td th:text="${stu.name}"></td>
        <td th:if="${stu.sex eq 0}" th:text="女"></td>
        <td th:unless="${stu.sex eq 0}" th:text="男"></td>
        <td th:text="${stu.age}"></td>
        <td  th:each="class:${class}"  th:if="${stu.stuClass eq class.id}" th:text="${class.classname}" ></td>
        <td>
            <a th:href="|/stu/toUpdate/${stu.id}|">修改</a>
            <a th:href="|/stu/delete/${stu.id}|">删除</a>
        </td>
    </tr>
    <tr>
        <td> <a href="/stu/toAdd">添加</a></td>
    </tr>
</table>
</body>
</html>